[alias]
  children = "!f() { git rev-list --all --not HEAD^@ --children | grep $(git rev-parse HEAD) | awk {'print $2'}; }; f"
  dc = diff --cached
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  next = "!f() { git checkout `git children`; }; f"
  prev = "!f() { git checkout HEAD^; }; f"

[color]
  ui = auto

[core]
  pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"

[delta]
  navigate = true

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[delta "light-mode"]
  features = "decorations line-numbers side-by-side"
  light = true
  syntax-theme = GitHub

[delta "dark-mode"]
  features = "decorations line-numbers side-by-side"
  light = false
  syntax-theme = Visual Studio Dark+

[diff]
  colorMoved = default

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictStyle = diff3

[user]
  name = Valentin Robert

