XTerm*background:   black
XTerm*foreground:   white
XTerm*pointerColor: red

Xft.dpi:        96
Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.rgba:       rgb

URxvt*font:         xft:AnonymousPro:size=10
URxvt*iso14755:     False
URxvt*perl-ext:     default,matcher
URxvt*urlLauncher:  chromium
