Host goto
HostName goto.ucsd.edu
User vrobert

Host cse
HostName login.eng.ucsd.edu
User vrobert

Host haskellfr
HostName haskell.fr
User haskellf

Host uw
HostName gpu0.cs.washington.edu
User vrobert
