Host yquem
HostName yquem.inria.fr
User varobert

Host pichon
ProxyCommand ssh -q yquem nc -q0 pichon 22
User varobert

Host goto
HostName goto.ucsd.edu
User vrobert

Host godel
HostName godel.ucsd.edu
User vrobert

Host enseirb
HostName ssh.enseirb-matmeca.fr
User robertv
