/build-plan-cache/
/build-plan/
/compiler-tools/
/global-project/
/indices/
/loaded-snapshot-cache/
/pantry/
/precompiled/
/programs/
/setup-exe-cache/
/setup-exe-src/
/snapshots/
/stack.sqlite3
/stack.sqlite3.pantry-write-lock
